@import "tailwindcss";

:root {
  --beige: #F5EFE6;
  --violet: #a861a2;
}

body {
  background: var(--beige);
  color: var(--violet);
  font-family: var(--font-jost), sans-serif;
  font-weight: 300;
}